<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blackmirror.dongda">

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="25"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".Tools.AYApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dongda_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Message.MessageList.AYMessageListActivity">
        </activity>
        <activity android:name=".Profile.ProfileActivity.AYProfileActivity">
        </activity>
        <activity android:name=".Order.OrderModeCommon.AYOrderCommonActivity">
        </activity>
        <activity android:name=".Home.HomeActivity.AYHomeActivity">
        </activity>
        <activity android:name=".Home.ServicePage.AYServicePageActivity">
        </activity>
        <activity android:name=".Landing.PhoneInputActivity">
        </activity>
        <activity android:name=".Landing.NameInputActivity">
        </activity>
        <activity android:name=".Landing.PhotoChangeActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".Landing.LandingActivity">
        </activity>
    </application>

</manifest>